body{
	font-family: arial,sans-serif;
}
nav{
	width:100%;
	height:60px;
	background:#344051;
}

.logo {
	color:#fff;
	font-size:28px;
	line-height:60px;
	padding-left:390px;
	float: left;
}

.menu {
	float: left;
	padding-left:435px;
}

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;
}

.main{
	width: 100%;
	height: calc(100% - 60px);
	background:url("../Images/Парень.png") 90% 100%/auto 85% no-repeat,url(../Images/back.jpg) center/cover no-repeat;
}

.title_container{
	float: left;
	margin: 435px 0px 0px 405px;
	color: #2c384a;
	text-align: center;
}

.title_container h1{
	font-size: 65px;
	font-weight: bold;
}

.title_container h3{
	margin-top: 30px;
	font-size: 22px;
	color: #79818d;
}

.title_container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 6px;
	color:#6d7682;
	font-size: 14px;
	padding: 0px 16px 0px 16px;
	margin-top: 40px;
	margin:30px 14px 0px 14px;
}

.About_me h2{
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	color:#263244;
	padding-left:840px;
	padding-top:90px;
}
.line1 {
	padding-left:900px;
	padding-top:35px;
}

.парень{
	padding-left:840px;
	padding-top:30px;
}

.text1{
	font-size:17px;
	text-align:center;
	padding-top: 40px;
	width:1300px;
	padding-left:557px;
}

.text2{
	font-size:17px;
	text-align:center;
	padding-top: 30px;
	width:1300px;
	padding-left:557px;
}

.down {
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 6px;
	color:#6d7682;
	font-size: 14px;
	padding: 0px 16px 0px 16px;
	margin-top: 40px;
	margin:30px 40px 0px 860px;
	}


.What_can_i_do{
	position:relative;
	top:100px;
	width:100%;
	height:520px;
	background: url("../Images/foto2.jpg")center/cover no-repeat;
}

.What_can_i_do h2{
	text-transform: uppercase;
	text-align:center;
	font-size: 30px;
	font-weight: bold;
	color:#263244;
	padding-top:100px;
}

.line2{
text-align:center;
padding-left:240px;
padding-top:35px;
}

.ноут {
  position:static;
  right:450px;
  top:100px;

}


.знак{
  position:static;
  float:left;
  padding-left: 600px;
  padding-top:100px;
}

.ракета{
 position:static;
  float:left;
  padding-left:800px;
  padding-top:100px;
}

.граммофон{
 position:static;
  float:left;
  padding-left:1000px;
  padding-top:100px;
}

.Веб_дизайн{
  font-size: 21px;
  font-family: "Bahnschrift";
  color: rgb(207, 118, 0);
  font-weight: bold;
  line-height: 29.662;
  text-align: left;
  -moz-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -webkit-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -ms-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  position:;
  left:377px;
  top: -190px;
  z-index: 193;
}

.Разработка{
  font-size: 21px;
  font-family: "Bahnschrift";
  color: rgb(207, 118, 0);
  font-weight: bold;
  line-height: 29.662;
  text-align:left;
  -moz-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -webkit-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -ms-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  position: relative;
  left: 450px;
  bottom:20px;
  z-index: 194;
}


.CEO-оптимизация{
  font-size: 21px;
  font-family: "Bahnschrift";
  color: rgb(207, 118, 0);
  font-weight: bold;
  line-height: 29.662;
  text-align: left;
  -moz-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -webkit-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -ms-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  left: 1015px;
  top: 1840px;
  z-index: 194;
}

.Маркетинг{
  font-size: 21px;
  font-family: "Bahnschrift";
  color: rgb(207, 118, 0);
  font-weight: bold;
  line-height: 29.662;
  text-align: left;
  -moz-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -webkit-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -ms-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  position: absolute;
  left: 1345px;
  top: 1840px;
  z-index: 194;
}


.Веб1{
  font-size: 17px;
  font-family: "Calibri";
  color: rgb(63, 73, 90);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  left: 395px;
  top: 2175px;
  width: 250px;
  z-index: 186;
}



.Раз1{
  font-size: 17px;
  font-family: "Calibri";
  color: rgb(63, 73, 90);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  left: 689px;
  top: 2175px;
  width: 250px;
  z-index: 186;
}


.CEO{
font-size: 17px;
  font-family: "Calibri";
  color: rgb(63, 73, 90);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  left: 975px;
  top: 2175px;
  width: 250px;
  z-index: 186;
}


.Марк{
font-size: 17px;
  font-family: "Calibri";
  color: rgb(63, 73, 90);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  left: 1267px;
  top: 2175px;
  width: 250px;
  z-index: 186;
}


.Cases h2{
text-transform: uppercase;
text-align:center;
	font-size: 40px;
	font-weight: bold;
	color:#263244;
	padding-top:120px;
}

.line3{
padding-left:892px;
padding-top:35px;
}

.Cases1{
	font-size:17px;
	text-align:center;
	padding-top: 40px;
	width:1500px;
	padding-left:375px;
}

.imgCases{
	padding-top:45px;
	text-align:center;
}

.Cases h3{
  font-size: 25px;
  font-family: "Franklin Gothic Medium";
  color: rgb(56, 67, 84);
  line-height: 0.833;
  text-align: center;
  -moz-transform: scale(1.02, 0.96);
  -webkit-transform: scale(1.02, 0.96);
  -ms-transform: scale(1.02, 0.96);
  left: 387.851px;
  top: 3450px;
  z-index: 92;
}

.компания {
  font-size: 16.667px;
  font-family: "Calibri";
  color: rgb(63, 73, 90);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  left: 388px;
  top: 3477px;
  z-index: 96;
}

.Название{
  font-size: 25px;
  font-family: "Franklin Gothic Medium";
  color: rgb(56, 67, 84);
  line-height: 0.833;
  text-align: center;
  -moz-transform: scale(1.02, 0.96);
  -webkit-transform: scale(1.02, 0.96);
  -ms-transform: scale(1.02, 0.96);
  left: 672.031px;
  top: 3450px;
  z-index: 91;
}

.название_проекта{
  font-size: 21px;
  font-family: "Calibri";
  color: rgb(63, 73, 90);
  line-height: 1.2;
  text-align: left;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  width:900px;
  left: 671.685px;
  top: 3500px;
  z-index: 98;
}


.WEBSITE{
  font-size: 25px;
  font-family: "Franklin Gothic Medium";
  color: rgb(56, 67, 84);
  line-height: 0.833;
  text-align: center;
  -moz-transform: scale(1.02, 0.96);
  -webkit-transform: scale(1.02, 0.96);
  -ms-transform: scale(1.02, 0.96);
  left: 388.943px;
  top: 3515px;
  z-index: 93;
}

.eadress{
  font-size: 16.667px;
  font-family: "Calibri";
  color: rgb(63, 73, 90);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  left: 389.428px;
  top: 3540px;
  z-index: 97;
}


.LIVE_SITE{
  border-radius: 5px;
  background-color:#63b5ae;
  left: 389px;
  top: 3590px;
  width: 201px;
  height: 44px;
  z-index: 101;
}




.LIVE_SITE{
  font-size: 21px;
  font-family: "Franklin Gothic Medium";
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: center;
  -moz-transform: scale(1.02, 0.96);
  -webkit-transform: scale(1.02, 0.96);
  -ms-transform: scale(1.02, 0.96);
  left: 389px;
  top: 3590px;
  z-index: 102;
}


 
.стоимость{
    text-transform: uppercase;
    text-align:center;
	font-size: 40px;
	font-weight: bold;
	color:#263244;
	padding-top:200px;
}


.тип{
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium";
  color: rgb(28, 37, 52);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  left: 499.093px;
  top: 4000px;
  z-index: 8;
}


.Выберите_пункт{
    height: 40px;
    width:890px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 6px;
	color:#6d7682;
	font-size: 14px;
	padding: 0px 16px 0px 16px;
	margin-top: 40px;
	margin:150px 20px 0px 500px;
}


.Дизайн{
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium";
  color: rgb(28, 37, 52);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  left: 499.093px;
  top: 4150px;
  z-index: 8;
}


.Дизайн1{
    height: 40px;
    width:890px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 6px;
	color:#6d7682;
	font-size: 14px;
	padding: 0px 16px 0px 16px;
	margin-top: 40px;
	margin:120px 20px 0px 500px;
}

.Адаптивность{
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium";
  color: rgb(28, 37, 52);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  left: 499.093px;
  top: 4300px;
  z-index: 8;
}



.Адапт1{
    height: 40px;
    width:890px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 6px;
	color:#6d7682;
	font-size: 14px;
	padding: 0px 16px 0px 16px;
	margin-top: 40px;
	margin:120px 20px 0px 500px;
}


.line4{
padding-left:500px;
padding-top:30px;
}

.сроки2{
  font-size: 20px;
  font-family: "Franklin Gothic Medium";
  color: rgb(28, 37, 52);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  left: 499.093px;
  top: 4470px;
  z-index: 8;
}

.стоимость2{
  font-size: 20px;
  font-family: "Franklin Gothic Medium";
  color: rgb(28, 37, 52);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  left: 499.093px;
  top: 4495px;
  z-index: 8;
}


.Stat{
	width:100%;
	height:500px;
	background: url(../Images/фон7.png)center/cover no-repeat;
}

.Немного_статистики{
    text-transform: uppercase;
    text-align:center;
	font-size: 40px;
	font-weight: bold;
	color:#263244;
	padding-top:120px;
}


.line5{
padding-left:888px;
padding-top:35px;
}


.смайл{
  left: 495px;
  top: 4700px;
  width: 53px;
  height: 52px;
  z-index: 119;
}


.скобки{
  left: 782px;
  top: 4700px;
  width: 63px;
  height: 47px;
  z-index: 120;
}

.галочка{
  left: 1078px;
  top: 4700px;
  width: 57px;
  height: 48px;
  z-index: 121;
}


.кубок {
  left: 1370px;
  top: 4700px;
  width: 57px;
  height: 52px;
  z-index: 122;
}


.sto{
  font-size: 38px;
  font-family: "Impact";
  color: rgb(50, 62, 79);
  line-height: 0.556;
  text-align: center;
  -moz-transform: scale(1.02, 0.89);
  -webkit-transform: scale(1.02, 0.89);
  -ms-transform: scale(1.02, 0.89);
  left: 495px;
  top: 4775px;
  z-index: 113;
}


.a4600{
 font-size: 38px;
  font-family: "Impact";
  color: rgb(50, 62, 79);
  line-height: 0.556;
  text-align: center;
  -moz-transform: scale(1.02, 0.89);
  -webkit-transform: scale(1.02, 0.89);
  -ms-transform: scale(1.02, 0.89);
  left: 771px;
  top: 4775px;
  z-index: 113;
}



.a340{
font-size: 38px;
  font-family: "Impact";
  color: rgb(50, 62, 79);
  line-height: 0.556;
  text-align: center;
  -moz-transform: scale(1.02, 0.89);
  -webkit-transform: scale(1.02, 0.89);
  -ms-transform: scale(1.02, 0.89);
  left: 1074px;
  top: 4775px;
  z-index: 113;
}


.a23{
  font-size: 38px;
  font-family: "Impact";
  color: rgb(50, 62, 79);
  line-height: 0.556;
  text-align: center;
  -moz-transform: scale(1.02, 0.89);
  -webkit-transform: scale(1.02, 0.89);
  -ms-transform: scale(1.02, 0.89);
  left: 1380px;
  top: 4775px;
  z-index: 113;
}


.клиентов{
  font-size: 17px;
  font-family: "Calibri";
  color: rgb(50, 62, 79);
  line-height: 0.556;
  text-align: center;
  left: 430px;
  top: 4825px;
  z-index: 113;
}

.часов{
  font-size: 17px;
  font-family: "Calibri";
  color: rgb(50, 62, 79);
  line-height: 0.556;
  text-align: center;
  left: 755px;
  top: 4825px;
  z-index: 113;
}

.проекты{
  font-size: 17px;
  font-family: "Calibri";
  color: rgb(50, 62, 79);
  line-height: 0.556;
  text-align: center;
  left: 1022px;
  top: 4825px;
  z-index: 113;
}


.награды{
  font-size: 17px;
  font-family: "Calibri";
  color: rgb(50, 62, 79);
  line-height: 0.556;
  text-align: center;
  left: 1330px;
  top: 4825px;
  z-index: 113;
}


.reviews h2{
    text-transform: uppercase;
    text-align:center;
	font-size: 40px;
	font-weight: bold;
	color:#263244;
	padding-top:110px;
}

.line6{
padding-left:892px;
padding-top:30px;
}


.парень2{
padding-left:881px;
padding-top:60px;
}

.отзыв{
    font-size:17px;
	text-align:center;
	padding-top: 40px;
	width:1700px;
	padding-left:100px;
}

.Михаил{
    font-size:17px;
	text-align:center;
	padding-top: 45px;
	width:1200px;
	padding-left:680px;
}

.Оранж{
  border-radius: 50%;
  background-color: rgb(201, 101, 0);
  left: 890px;
  top: 5500px;
  width: 10px;
  height: 10px;
  z-index: 39;
}

.Оранж2{
  border-radius: 50%;
  background-color:#808080;
  left: 920px;
  top: 5500px;
  width: 10px;
  height: 10px;
  z-index: 39;
}


.Оранж3{
  border-radius: 50%;
  background-color:#808080;
  left: 950px;
  top: 5500px;
  width: 10px;
  height: 10px;
  z-index: 39;
}

.Contacts{
    padding-top:50px;
	width:100%;
	height:820px;
	background: url(../Images/Фон.png)center/cover no-repeat;
}


.Contacts h2{
    font-family: "Franklin Gothic Medium";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
	text-align:center;
	font-size: 40px;
	font-weight: bold;
	padding-top:20px;
}

.line7{
padding-left:892px;
padding-top:25px;
}

.Contacts1{
  font-size: 17px;
  font-family: "Calibri";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  left: 520px;
  top: 5615px;
  z-index: 51;
}

.гео{
  left: 620px;
  top: 5685px;
  width: 18px;
  height: 26px;
  z-index: 65;
}

.конверт{
  left: 900px;
  top: 5685px;
  width: 29px;
  height: 24px;
  z-index: 66;
}

.труба{
  left: 1192px;
  top: 5685px;
  width: 24px;
  height: 24px;
  z-index: 67;
}

.адрес{
  font-size: 17px;
  font-family: "Calibri";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  left: 555px;
  top: 5730px;
  z-index: 52;
}


.почта{
 font-size: 17px;
  font-family: "Calibri";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  left: 823px;
  top: 5730px;
  z-index: 52;
}

.номер{
font-size: 17px;
  font-family: "Calibri";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  left: 1145px;
  top: 5730px;
  z-index: 52;
}


.Contacts h4{
  font-size: 21px;
  font-family: "Franklin Gothic Medium";
  color: rgb(255, 255, 255);
  line-height: 29.662;
  text-align: left;
  -moz-transform: matrix( 1.0480372784793,0,0,0.96,0,0);
  -webkit-transform: matrix( 1.0480372784793,0,0,0.96,0,0);
  -ms-transform: matrix( 1.0480372784793,0,0,0.96,0,0);
  left: 797px;
  top: 5510px;
  z-index: 50;
}

.Name1{ 
  left: 550px;
  top: 5875px;
  width: 352px;
  height: 34px;
  z-index: 70;
   color: #212529;
   opacity:70%;
  background-color: #fff;
  border-color: #bdbdbd;
}


.Email1{
 left: 950px;
  top: 5875px;
  width: 352px;
  height: 34px;
  z-index: 70;
   color: #212529;
   opacity:70%;
  background-color: #fff;
  border-color: #bdbdbd;
}


.Message1{
left: 550px;
  top: 5920px;
  width: 752px;
  height: 90px;
  z-index: 70;
   color: #212529;
   opacity:70%;
  background-color: #fff;
  border-color: #bdbdbd;
}


.Отправить{
	left: 800px;
  top: 5970px;
 height: 40px;
	border: 2px solid #fff;
	background: none;
	border-radius: 6px;
	color:#fff;
	font-size: 14px;
	padding: 10px 30px 10px 30px;
	margin-top: 40px;
	margin:476px 14px 0px 863px;
}


footer{
	width:100%;
	height:100px;
	background:#344051;
}

.копирайт{
color:#fff;
	font-size:15px;
	text-align:center;
	padding-top:45px;
}