body{
	font-family: arial,sans-serif;
}
nav{
	width:100%;
	height:60px;
	background:#344051;
}

.logo {
	color:#fff;
	font-size:28px;
	line-height:60px;
	padding-left:390px;
	float: left;
}

.menu {
	float: left;
	padding-left:435px;
}

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;
}

.main{
	width: 100%;
	height: calc(100% - 60px);
	background:url(C:/Users/Антон/Desktop/Project1/Source/Images/Парень.png) 90% 100%/auto 85% no-repeat,url(C:/Users/Антон/Desktop/Project1/Source/Images/back.jpg) center/cover no-repeat;
}

.title_container{
	float: left;
	margin: 435px 0px 0px 405px;
	color: #2c384a;
	text-align: center;
}

.title_container h1{
	font-size: 65px;
	font-weight: bold;
}

.title_container h3{
	margin-top: 30px;
	font-size: 22px;
	color: #79818d;
}

.title_container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 6px;
	color:#6d7682;
	font-size: 14px;
	padding: 0px 16px 0px 16px;
	margin-top: 40px;
	margin:30px 14px 0px 14px;
}

.About_me h2{
	font-size: 40px;
	font-weight: bold;
	color:#263244;
	padding-left:840px;
	padding-top:110px;
}
.img1{
	padding-left:890px;
	padding-top:35px;
}

.img2{padding-left:830px;
	padding-top:60px;
}


.About_me p{
	font-size:17px;
	text-align:center;
	padding-top: 25px;
}

.down {
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 6px;
	color:#6d7682;
	font-size: 14px;
	padding: 0px 16px 0px 16px;
	margin-top: 40px;
	margin:30px 40px 0px 860px;
	}


.What_can_i_do h2{
	font-size: 40px;
	font-weight: bold;
	color:#263244;
	padding-left:815px;
	padding-top:200px;
}
.What_can_i_do.{
	width: 100%
	background: url("C:/Users/Антон/Desktop/Project1/Source/Images/fon6.jpg")100% 100%/auto 100% no-repeat;
  
}


.img3{
	padding-left:895px;
	padding-top:35px;
}

.img4 {
  position: absolute;
  left: 495px;
  top: 2067px;
  width: 55px;
  height: 37px;
  z-index: 199;
}

.text1{
  font-size: 21px;
  font-family: "Bahnschrift";
  color: rgb(207, 118, 0);
  font-weight: bold;
  line-height: 29.662;
  text-align: left;
  -moz-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -webkit-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -ms-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  position: absolute;
  left: 467px;
  top: 1850px;
  z-index: 193;
}

.text2{
  font-size: 16.667px;
  font-family: "Calibri";
  color: rgb(63, 73, 90);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  position: absolute;
  left: 416.159px;
  top: 2164.802px;
  z-index: 186;
}

.text3{
  font-size: 21px;
  font-family: "Bahnschrift";
  color: rgb(207, 118, 0);
  font-weight: bold;
  line-height: 29.662;
  text-align: left;
  -moz-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -webkit-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -ms-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  position: absolute;
  left: 759.645px;
  top: 1850px;
  z-index: 194;
}

.img5{
  position: absolute;
  left: 788px;
  top: 2063px;
  width: 51px;
  height: 40px;
  z-index: 200;
}


.img6{
  position: absolute;
  left: 1085px;
  top: 2057px;
  width: 47px;
  height: 47px;
  z-index: 201;
}

.text4{
  font-size: 21px;
  font-family: "Bahnschrift";
  color: rgb(207, 118, 0);
  font-weight: bold;
  line-height: 29.662;
  text-align: left;
  -moz-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -webkit-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -ms-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  position: absolute;
  left: 1020px;
  top: 1850px;
  z-index: 195;
}


.text5{
  font-size: 21px;
  font-family: "Bahnschrift";
  color: rgb(207, 118, 0);
  font-weight: bold;
  line-height: 29.662;
  text-align: left;
  -moz-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -webkit-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  -ms-transform: matrix( 0.90959362317107,0,0,0.85608811592571,0,0);
  position: absolute;
  left: 1352.1px;
  top: 1850px;
  z-index: 196;
}


.img7{
  position: absolute;
  left: 1375px;
  top: 2060px;
  width: 51px;
  height: 44px;
  z-index: 202;
}

.text6{
  font-size: 16.667px;
  font-family: "Calibri";
  color: rgb(63, 73, 90);
  line-height: 1.2;
  text-align: center;
  -moz-transform: scale(1, 0.96);
  -webkit-transform: scale(1, 0.96);
  -ms-transform: scale(1, 0.96);
  position: absolute;
  left: 709.159px;
  top: 2164.802px;
  z-index: 187;
}























